<div class="mdl-card mdl-shadow--2dp demo-card-wide-red">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Who We Are</h2>
  </div>
  <div class="myCardDesign">
    TC Design is a company dedicated to <strong>YOU</strong>; &nbsp;the
     client. Unlike other companies that sell a product, we strive to <em>develop you a solution</em>. 
      In a technological era, we pursue the newest tech to meet and exceed your standards. Whatever your need, 
       a website, an app, computer software, and more; we will provide our very best service.
      <hr>
      <strong>This page needs work.....</strong>
  </div>
</div>

